<nav>
  <div class="nav-wrapper grey darken-4">
    <a href="/" class="brand-logo">NPU</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/find">Find It</a></li>
      <li><a href="/npu">My NPU</a></li>
      <li><a href="https://www.atlantaga.gov/government/departments/city-planning/neighborhood-and-npu-contacts"
          target='_blank' noopener noreferrer>CoA
          Contacts</a></li>
    </ul>
  </div>
</nav>