<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">NPU-W</span>
        <p>Neighborhood Planning Unit <strong>W</strong></p>
        <p>Chair: <strong>Ronald Lall</strong></p>
        <p>Meeting Frequency: <strong>Fourth Wednesdays</strong></p>
        <p>Meeting Location: <strong>Virtual</strong></p>
        <p>Meeting Time: <strong>6:30pm</strong></p>
        <p>Meeting Location: <strong>physical location</strong></p>
      </div>
      <div class="card-action">
        <a href="mailto:WChair@npuw.org">WChair@npuw.org</a>
        <a href="#">Zoom Link</a>
      </div>
    </div>
  </div>
</div>