<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>ArcGIS Maps SDK for JavaScript Tutorials: Search for an address</title>
  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>
  <link rel="stylesheet" href="https://js.arcgis.com/4.25/esri/themes/light/main.css">
  <script src="https://js.arcgis.com/4.25/"></script>

  <script>

    require([
      "esri/config",
      "esri/Map",
      "esri/views/MapView",

      "esri/widgets/Search"

    ], function (esriConfig, Map, MapView, Search) {

      esriConfig.apiKey = "AAPK9fa029f9bba04f3f8db1fc2a08e4ffc3MK2CF6owJjQz8WqKnSKom3cseprm9JjzoLQ8yiRWiCl-EqSd_P9UP6Ru6vJIgZuJ";

      const map = new Map({
        basemap: "arcgis-navigation"
      });

      const view = new MapView({
        container: "viewDiv",
        map: map,
        center: [33.7440941, -84.377861],
        zoom: 2
      });

      const search = new Search({
        view: view
      });

      view.ui.add(search, "top-right");

    });
  </script>

</head>

<body>
  <div id="viewDiv"></div>
</body>

</html>